<header>
  <div class="masthead centered-column">
    <div class="logo">
      <a [routerLink]="['/']">
        <img alt="Jason Neal" src="/assets/images/jason-neal-logo.png">
      </a>
    </div>
    <div class="social">
      <a href="https://github.com/jtneal" rel="noopener noreferrer" target="_blank">
        <img alt="GitHub" src="/assets/images/social-github.png">
      </a>
      <a href="https://www.linkedin.com/in/jasontneal" rel="noopener noreferrer" target="_blank">
        <img alt="LinkedIn" src="/assets/images/social-linked-in.png">
      </a>
      <a href="https://www.youtube.com/channel/UCRk4SGiF_y-lS8hcc_2uiYA" rel="noopener noreferrer" target="_blank">
        <img alt="YouTube" src="/assets/images/social-youtube.png">
      </a>
    </div>
    <div class="navigation">
      <app-nav></app-nav>
    </div>
  </div>
</header>
