<section class="clearfix pb-3 px-3">
  <img alt="Software Engineer, Charlotte, NC" class="border float-right ml-3" src="/assets/images/jason-neal-software-engineer-charlotte-nc.jpg">
  <h1 class="h4 mb-3">About</h1>
  <p>
    I began developing websites in the mid-to-late 90's using popular tools of the time such as Expage, Angelfire, and
    Geocities. While the internet has changed drastically since then, I still maintain that same passion today.
  </p>
  <p>
    I began my professional experience in 1999 when I joined my high school's web page staff. We worked as a team to
    keep the website up-to-date and make improvements as necessary. While everyone else was using Microsoft's FrontPage
    to make their changes, I was quickly noticed for typing my HTML by hand. In 2001, I became the web staff manager.
    This made me the head student in charge of the website until I graduated in 2003.
  </p>
  <p>
    In 2006, I received my first full-time job offer in web development. Since that time, I have grown and matured into
    a highly skilled developer with quite a repertoire of skills and abilities. Historically, my primary focus was
    always the LAMP stack (Linux, Apache, MySQL, PHP). Today, I'm all about using the right tool for the job. I do
    prefer object-oriented programming whether it be PHP, TypeScript, .NET or any other language. I prefer layered
    architectures. I follow standards and write code that is both clean and secure.
  </p>
  <p class="mb-0">
    If you learn only one thing about me after visiting my website, I hope it is that I am very passionate about my
    work. I love developing websites and web applications, and I couldn't imagine having a better job or career.
    Even after completing a full day of work at my full time gig, I typically find myself at home working on my own
    projects late into the night. I love learning, I love improving, and that's why I thoroughly enjoy this line of
    work.
  </p>
</section>
