@import '../../vars.scss';

.card-header {
  @media (min-width: 540px) {
    margin-right: 260px;
  }
}

img {
  box-sizing: border-box;
  border: solid 1px #dee2e6;
  margin-bottom: 10px;
  padding: 1px;
  width: 100%;

  @media (min-width: 540px) {
    float: right;
    margin: 0 0 10px 10px;
    width: initial;
  }
}
