@import '../../vars.scss';

.card {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;
  margin-bottom: 16px;

  @media (min-width: $breakpoint) {
    margin-bottom: 0;
    position: absolute;
    right: 16px;
    text-align: right;
    top: 16px;
  }

  h4 {
    font-size: 1rem;
    margin: 0;
  }
}
