@import '../../../vars.scss';

img {
  box-sizing: border-box;
  border: solid 1px #dee2e6;
  margin-bottom: 16px;
  padding: 1px;
  width: 100%;
}

.card-content {
  @media (min-width: $breakpoint) {
    display: flex;
  }
}

.content-main {
  @media (min-width: $breakpoint) {
    flex: 1 1 auto;
  }
}

.content-side {
  background-color: #eee;
  margin-top: 16px;
  padding: 16px;

  @media (min-width: $breakpoint) {
    flex: 0 0 300px;
    margin-left: 16px;
    margin-top: 0;
  }

  h4 {
    margin-bottom: 0;
  }
}
