<section class="pb-3 px-3">
  <h1 class="h4 mb-3">Portfolio</h1>
  <p>
    From 2008-2016 I was working on a different website every month. This enabled me to build up a massive portfolio of
    dozens and dozens of websites. However, I came to realize I preferred working on more long-term projects where I had
    time to refine my craft, iterate, refactor, and continuously improve. Due to this, the majority of the work in my
    portfolio is old and outdated. While I have taken the time to include some of my latest work, please bear in mind
    this still only represents a fraction of the work that I have been involved with since 2016.
  </p>

  <div class="row">
    <div *ngFor="let portfolio of portfolios$ | async" class="col-12 col-sm-6 col-lg-4">
      <a [routerLink]="portfolio.uri">
        <img [alt]="portfolio.title" class="border mw-100" src="/assets/images/portfolio/{{ portfolio.image }}">
        <h2 class="h6 mb-0 mt-1">{{ portfolio.title }}</h2>
      </a>
      <p>{{ portfolio.location }}</p>
    </div>
  </div>
</section>
