<section class="pb-3 px-3">
  <h1 class="h4 mb-3">Skills</h1>
  <p>
    There's only so much room on a resume, so I like to provide a separate list of skills for those interested. From time
    to time, I will remove skills that I feel are no longer relevent, so just because something is not listed here does
    not necessary mean I am not experienced with it.
  </p>

  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3">
      <h2 class="h5 mb-0">Dev Ops</h2>
      <ul>
        <li>Docker</li>
        <li>AWS</li>
        <li>Terraform</li>
        <li>Linux</li>
        <li>Nginx</li>
        <li>Apache</li>
        <li>MySQL</li>
        <li>Redis</li>
        <li>Memcached</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h2 class="h5 mb-0">Backend</h2>
      <ul>
        <li>Node</li>
        <li>TypeScript</li>
        <li>C#</li>
        <li>.NET Core</li>
        <li>.NET Framework</li>
        <li>PHP</li>
        <li>Symfony</li>
        <li>Laravel</li>
        <li>CodeIgniter</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h2 class="h5 mb-0">Frontend</h2>
      <ul>
        <li>Angular</li>
        <li>RxJS</li>
        <li>AngularJS</li>
        <li>jQuery</li>
        <li>ES6</li>
        <li>JavaScript</li>
        <li>HTML 5</li>
        <li>SCSS</li>
        <li>CSS 3</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h2 class="h5 mb-0">Text Editors</h2>
      <ul>
        <li>Visual Studio Code</li>
        <li>Visual Studio</li>
        <li>PhpStorm</li>
        <li>Sublime Text 3</li>
        <li>Vim</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h2 class="h5 mb-0">CI/CD</h2>
      <ul>
        <li>CircleCI</li>
        <li>Travis CI</li>
        <li>Jenkins</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h2 class="h5 mb-0">Content Management</h2>
      <ul>
        <li>ExpressionEngine</li>
        <li>WordPress</li>
        <li>Joomla</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h2 class="h5 mb-0">Version Control</h2>
      <ul>
        <li>Git / GitHub</li>
        <li>Mercurial / Bitbucket</li>
      </ul>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <h2 class="h5 mb-0">Lighter Experience</h2>
      <ul>
        <li>Ruby on Rails</li>
        <li>Python</li>
        <li>Go Lang</li>
      </ul>
    </div>
  </div>
</section>
