.shadow-dark {
  box-shadow: 0 0 0.938em 0.313em #000;
}

.social {
  margin: 0 auto;
  width: 82px;

  li {
    background-image: url('/assets/images/social-icons.png');
    margin-left: 5px;

    &.social-facebook {
      background-position: 0 0;
      margin-left: 0;
    }

    &.social-twitter {
      background-position: -24px 0;
    }

    &.social-linkedin {
      background-position: -48px 0;
    }

    a {
      height: 24px;
      text-indent: 100%;
      width: 24px;
    }
  }
}

a.active {
  color: #212529;
  cursor: text;
  font-weight: bold;

  &:hover {
    text-decoration: none;
  }
}

footer {
  $bg-color: #000;
  $dot-color: #111;
  $dot-size: 2px;
  $dot-space: 3px;

  background-color: $bg-color;
  background-image: linear-gradient(
    45deg,
    $dot-color,
    $dot-color ($dot-space - $dot-size),
    $bg-color 0
  );
  background-size: $dot-space $dot-space;
}
