<div class="bg-white container p-0 shadow-dark">
  <div class="p-3">
    <header>
      <div class="row">
        <div class="col-sm-8 col-lg-4 text-center text-sm-left">
          <a routerLink="/">
            <img alt="Jason Neal | Software Engineer | Charlotte, NC" src="/assets/images/logo-jason-neal-small.png">
          </a>
        </div>
        <div class="col-sm-4 col-lg-2 order-lg-2">
          <ul class="float-sm-right list-unstyled pt-3 social">
            <li *ngFor="let link of linksSocial" class="float-left social-{{ link.name | lowercase }}">
              <a class="d-block overflow-hidden" [href]="link.url" target="_blank" title="Follow me on {{ link.name }}">{{ link.name }}</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 order-lg-1">
          <ul class="justify-content-center nav pt-3">
            <ng-container *ngFor="let link of linksMain; index as i">
              <li *ngIf="i" class="nav-item">/</li>
              <li class="nav-item">
                <a *ngIf="!link.external" class="nav-link px-1 py-0" [routerLink]="link.url" routerLinkActive="active">{{ link.name }}</a>
                <a *ngIf="link.external" class="nav-link px-1 py-0" [href]="link.url">{{ link.name }}</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </header>
    <main class="pt-3">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer class="pt-3 px-3 text-white-50">
    <div class="row">
      <app-footer-menu class="col-sm-6 col-lg" [links]="linksFriends" name="Friends"></app-footer-menu>
      <app-footer-menu class="col-sm-6 col-lg" [links]="linksFavoriteTechnology" name="Favorite Technology"></app-footer-menu>
      <app-footer-menu class="col-sm-6 col-lg" [links]="linksRecentWork" name="Recent Work"></app-footer-menu>
      <div class="col-sm-6 col-lg">
        <h2 class="h5 text-white">Contact Information</h2>
        <p>
          Jason Neal<br>
          760 Coralbell Way<br>
          Tega Cay, SC 29708
        </p>
        <p>
          864.275.2885<br>
          <a href="mailto:jason@jneal.com">jason@jneal.com</a>
        </p>
      </div>
    </div>
  </footer>
</div>
