<section class="pb-3 px-3">
  <h1 class="h4">Resume</h1>

  <p class="mt-3">
    Please be aware, the PDF copy of my resume is currently out of date. I am working on a newer version.
  </p>

  <p>
    <a class="btn btn-primary btn-lg" href="/assets/files/resume-jason-neal.pdf" target="_blank">
      Download PDF
    </a>
  </p>

  <h2 class="h5">Skill Summary</h2>
  <ul>
    <li>Website & Web Application Development</li>
    <li>RESTful API Development with PHP & JSON</li>
    <li>JavaScript & AJAX Development with jQuery</li>
    <li>LAMP Stack Maintenance & Administration</li>
    <li>MVC Development with CodeIgniter</li>
    <li>ExpressionEngine CMS Development</li>
    <li>Adobe CS, Sublime Text 3, Vim</li>
    <li>Version Control with Mercurial & Git</li>
    <li>Error Debugging & Problem Solving</li>
    <li>Code Commenting & Documentation</li>
  </ul>

  <h2 class="h5">Professional Experience</h2>

  <p class="m-0">February 2016 - Present</p>
  <h3 class="h6">Quicken Loans | Charlotte, NC | Senior Software Engineer</h3>
  <ul>
    <li>Developed and maintained both frontend websites and backend services.</li>
    <li>Leveraged a LAMP stack with object-oriented PHP 5.x/7.x with Silex and MySQL.</li>
    <li>Built API's following the backend for frontend (BFF) pattern using Node/TypeScript.</li>
    <li>Developed user interface applications using both Angular JS and Angular.</li>
    <li>Utilized Redis as a caching layer to improve performance and reduce database/network load.</li>
    <li>Utilized Solr to index marketing materials and enable fast searching of documents.</li>
    <li>Migrated our separated local development environments into an all inclusive Docker composition.</li>
    <li>Spearheaded efforts to increase code coverage of one of our primary codebases from 25% to 75%.</li>
    <li>Reduced measurable technical debt from "1 day" to 0.</li>
    <li>Setup completely custom CI/CD pipelines for dozens of our applications.</li>
    <li>Implemented automated code quality enforcement into our CI builds.</li>
    <li>Consistently pushed our code and other engineers to follow object-oriented design principles.</li>
  </ul>

  <p class="m-0">August 2012 - January 2016</p>
  <h3 class="h6">Erwin Penland | Greenville, SC | PHP Developer</h3>
  <p>Notable Clients: Advance America (2012-2015), Verizon (2012-2015), Denny's (2013-2015), Upstate SC Alliance (2014-2015), NFL (2014-2015), Chick-fil-A (2015), Confluence Watersports (2012-2013)</p>
  <ul>
    <li>Developed and maintained websites, microsites, and web applications.</li>
    <li>LAMP work utilized object-oriented PHP 5.x using CodeIgniter, MVC architecture, and MySQL.</li>
    <li>Developed custom APIs using the Flight framework and Runscope for API testing and debugging.</li>
    <li>Developed integrations with third-party APIs including NetAcuity, TranDotCom (SOAP), and others.</li>
    <li>Developed asynchronous web applications using AJAX by utilizing jQuery.</li>
    <li>Worked with a variety of CMS platforms including ExpressionEngine, WordPress, and Drupal.</li>
    <li>Helped maintain and monitor (using Server Density) Linux web servers on Ubuntu and RHEL.</li>
    <li>Performance tuning of code, tables, and SQL queries for high-availability deployments.</li>
    <li>Helped mitigate security vulnerabilities by employing best practices, testing, and debugging.</li>
    <li>Researched industry trends to assist with development and promotion of best practices.</li>
    <li>Automated manual tasks and improved efficiency by implementing functional process changes.</li>
    <li>Managed development, quality assurance, and user acceptance testing environments.</li>
    <li>Helped maintain automated code builds and deployments using Jenkins.</li>
    <li>Assisted during hiring process for developers, and helped train and guide junior developers.</li>
    <li>Conducted peer code reviews on a regular basis to ensure projects maintained utmost quality.</li>
    <li>Maintained documentation and comprehensive code comments for other developers.</li>
    <li>Maintained code repositories with version control on Bitbucket using mostly Mercurial and Git.</li>
    <li>Quickly became the go-to problem solver by helping others solve their complex problems.</li>
    <li>Many projects followed the agile software development methodologies.</li>
    <li>Consistently finished projects quicker than estimated saving our company both time and money.</li>
  </ul>

  <p class="m-0">November 2008 - August 2012</p>
  <h3 class="h6">Hannush Enterprises | Greenville, SC | Lead Web Developer</h3>
  <ul>
    <li>Developed and maintained websites and web applications for a wide variety of clients.</li>
    <li>Handled both front-end (HTML/CSS/JS) and back-end (PHP/Joomla/WordPress) for every project.</li>
    <li>Worked on some projects written in Classic ASP and ASP.NET/C# for one client, Dixon Hughes.</li>
    <li>Researched best practices for SEO and ensured all code was well optimized and followed standards.</li>
    <li>Trained clients to update their own website within the Joomla and WordPress CMS platforms.</li>
    <li>Trained and helped guide junior developers to follow best practices and follow coding standards.</li>
  </ul>

  <p class="m-0">June 2008 - July 2008</p>
  <h3 class="h6">Strategic Advantage | Holly Springs, NC | Web Developer</h3>
  <p>This was a short-term contract - I was offered a full-time position but did not want to relocate.</p>
  <ul>
    <li>Helped develop front-end and back-end code for the Phibro Animal Health Corporation website.</li>
    <li>Utilized various technologies including PHP, MySQL, HTML, CSS, XML, jQuery, AJAX, and SVN.</li>
    <li>Developed a custom flash image carousel that is still in use on the site today: www.pahc.com.</li>
    <li>Helped convert some legacy administrative tools from classic ASP to object-oriented PHP.</li>
  </ul>

  <p class="m-0">July 2007 - June 2008</p>
  <h3 class="h6">Apple A Day And Beyond | Greenville, SC | Web Assistant</h3>
  <ul>
    <li>Assisted in customizing the Nutrition Warehouse Outlet website.</li>
    <li>Utilized various technologies including HTML, CSS, ColdFusion, and MySQL.</li>
    <li>Helped design, code, and send marketing email blasts to existing and potential customers.</li>
    <li>Helped the shipping department with printing, packaging, and shipping customer's orders.</li>
  </ul>

  <p class="m-0">August 2006 - March 2007</p>
  <h3 class="h6">Central Data Corp. | Spartanburg, SC | Member of Technical Staff</h3>
  <ul>
    <li>Development work including front-end and back-end for the National Beta Club and Global Scholar.</li>
    <li>Utilized many technologies including HTML, CSS, Linux, PHP, MySQL, Memcached, and TortoiseCVS.</li>
    <li>Provided onsite technical support and troubleshooting assistance to the National Beta Club staff.</li>
    <li>Wrote a custom chat bot that asked students test questions and gave points for correct answers.</li>
    <li>Made an application for students to build their own personal web page by just point-and-clicking.</li>
  </ul>

  <p class="m-0">June 2004 - August 2006</p>
  <h3 class="h6">Nine2Five Records | Myrtle Beach, SC | Webmaster</h3>
  <ul>
    <li>Designed and developed 9th Corner website including both front-end and back-end technology.</li>
    <li>Wrote a custom content management script using PHP/MySQL to help manage upcoming shows.</li>
    <li>Designed band logo and merchandise including t-shirts as well as CD labels and CD booklet layouts.</li>
  </ul>

  <h2 class="h5">Education History</h2>

  <p class="m-0">January 2005 - August 2006</p>
  <h3 class="h6">Greenville Technical College | Greenville, SC</h3>
  <ul>
    <li>Completed classes towards Associates of Applied Science in Information Technology.</li>
  </ul>

  <p class="m-0">August 1999 - May 2003</p>
  <h3 class="h6">Easley High School | Easley, SC</h3>
  <ul>
    <li>Maintained high school website, and became the web staff manager in 2001.</li>
    <li>Enhanced Academic Diploma, and graduated Mu Alpha Theta.</li>
  </ul>

  <h2 class="h5">Final Words</h2>
  <p>
    I first began developing websites in the mid-to-late 90's using popular tools of the time such as Expage, Angelfire,
    and Geocities. Oh, how times have changed, but even after all these years, I still maintain now the same passion for
    building websites that I had back then.
  </p>
  <p class="mb-0">
    In fact, everyone that knows me well will tell you just that - I am very passionate about my work. I love
    developing websites and web applications, I love learning, improving, building, and tinkering, and I couldn't
    imagine having a more fitting career. Even after finishing up a full day at work, I often find myself at home
    working on my own personal projects late into the night. My goal is to find a company with employees that share
    this passion, where we can grow together and help cultivate success.
  </p>
</section>
