@import '../../../vars.scss';

header {
  background-color: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.masthead {
  display: flex;
  padding: 10px;
}

.logo {
  align-items: center;
  border-right: solid 1px #ccc;
  display: flex;
  padding-right: 10px;

  @media (min-width: 348px) {
    padding-right: 10px;
  }

  @media (min-width: 380px) {
    padding-right: 16px;
  }
}

.social {
  align-items: center;
  display: flex;
  padding-left: 10px;

  @media (min-width: 380px) {
    padding-left: 16px;
  }

  a {
    margin-left: 5px;

    @media (min-width: 348px) {
      margin-left: 10px;
    }

    @media (min-width: 380px) {
      margin-left: 16px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  img {
    width: 24px;

    @media (min-width: 348px) {
      width: 30px;
    }
  }
}

.navigation {
  flex: 1 1 auto;
  height: 48px;
}
