@import './vars.scss';

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/assets/images/background-grid.png');
  color: #333;
  font-family: Merriweather, serif;
  padding-top: 68px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 16px 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
  letter-spacing: .01rem;
  line-height: 1.75rem;
  margin: 0 0 1rem 0;

  &.final {
    margin-bottom: 0;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  letter-spacing: .01rem;
  line-height: 1.75rem;
}

img {
  display: block;
}

.centered-column {
  max-width: 89rem;
  margin: 0 auto;
  padding: 16px;
}

.cards {
  @media (min-width: $breakpoint) {
    display: flex;
    flex-wrap: wrap;
  }
}

.card-column {
  box-sizing: border-box;
  padding-bottom: 16px;

  @media (min-width: $breakpoint) {
    flex: 0 0 calc(25% - 12px);
    margin-right: 16px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n+4) {
      padding-bottom: 0;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 16px;
  position: relative;

  &.card-teaser {
    padding: 0;

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
    }

    .card-teaser-content {
      background-image: url('/assets/images/chevron-right-light.png');
      background-position: right 10px center;
      background-repeat: no-repeat;
      cursor: pointer;
      padding: 16px 44px 16px 16px;

      h4,
      span {
        @media (min-width: $breakpoint) {
          display: block;
          max-width: calc(25vw - 85px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        @media (min-width: 89rem) {
          display: block;
          max-width: calc((89rem / 4) - 85px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  li {
    list-style: disc;
    margin-left: 29px;
  }
}

.card-column:hover .card-teaser-content {
  background-image: url('/assets/images/chevron-right.png');
}

.card-column .card {
  height: 100%;
}

.card-header {
  border-bottom: solid 1px #ccc;
  margin-bottom: 16px;
}

.card-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;
  margin-bottom: 16px;

  @media (min-width: $breakpoint) {
    margin-bottom: 0;
    position: absolute;
    right: 16px;
    text-align: right;
    top: 16px;
  }

  h4 {
    font-size: 1rem;
    margin: 0;
  }
}

main a,
footer a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $highlight-color;
  }
}
