/* You can add global styles to this file, and also import other style files */

@import 'node_modules/bootstrap/scss/bootstrap';

body {
  $stripe1: #111;
  $stripe2: #000;

  background-attachment: fixed;
  background-color: $stripe1;
  background-image: repeating-linear-gradient(
    135deg,
    $stripe1,
    $stripe1 .85em,
    $stripe2 0,
    $stripe2 1.7em
  );
}
