<section>
  <h1>Projects</h1>
  <div class="cards">
    <div *ngFor="let project of projects$ | async" class="card-column">
      <div class="card card-teaser" (click)="viewProject(project)">
        <a [routerLink]="['/projects', project.uri]"><img [alt]="project.title" src="/assets/images/projects/{{ project.image }}"></a>
        <div class="card-subtitle card-teaser-content">
          <h4>{{ project.title }}</h4>
          <span>{{ project.date | date: 'LLLL yyyy' }} &bull; {{ project.location }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
