<section class="clearfix">
  <img alt="Software Engineer, Charlotte, NC" class="border float-right ml-3" src="/assets/images/jason-neal-software-engineer-charlotte-nc.jpg">
  <h1 class="h4">Software Engineer, Charlotte, NC</h1>
  <p>
    I'm Jason Neal, a software engineer and web developer located in Charlotte, NC. I find enjoyment working with
    everything from front-end frameworks like Angular, to back-end languages like PHP 7 and NodeJS, including dev
    ops technology such as Docker. I consider myself a clean coder. Therefore, I follow standards and write clean,
    consistent, and secure code. I am a professional that takes my career very seriously. I'm an extremely
    passionate individual, and I believe it really shows through in my work.
  </p>
  <p class="mb-0"><a routerLink="/about">View Full Bio &raquo;</a></p>
</section>
